body{
  background-color: yellowgreen;
  padding: 20px;
  width: 100%;
}
.cont{
  background: rgb(159,212,131);
background: linear-gradient(207deg, rgba(159,212,131,1) 18%, rgba(212,148,98,1) 56%);

}
.logo{
  font-size: 46px;
  color:black;
  & span{
   color:#ff6f00 ; 
  }
}
.cards{
position: relative;
padding: 10px;
overflow: hidden;
opacity: .7;
width: 328px;
&:hover{
  opacity: 1;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
&:hover .title {
  transform: translateY(0%);
  

}
.price{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  color: wheat;
  background-color: black;
  padding: 20px;
  opacity: 1;
border-radius: 10px;
}
.title{
  position: absolute;
  bottom:0;
  left: 0;
  width: 18rem;
  height: 140px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
 transition: transform 0.7s;
  transform: translateX(100%);
  color: wheat;
  background-color: black;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}
.card-img{
  width: 16rem;
  height: 450px;
  object-fit: cover;
  margin: auto auto;
}

}
.nav-container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
 
.navbars{
  .links{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
  }
}
.active{
  color: rgb(141, 231, 37);
}

}

.footer{
  text-align: center;
margin-top: 50px;
padding: 20px;
  width: 100%;

& h2{
  font-size: 56px;
  & span{
    color:#ff6f00 ; 
  }
}
  .icons{

    .link-icon{
      font-size: 50px;
      padding: 10px;
    &:hover {
      color:#ff6f00 ; 
      transition: all .5s ease-in-out;
    }
    }
  }
}
